<?xml version='1.0' encoding='UTF-8'?>
<robot name="a750-rev1">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0.07463932844151128 0.024564813965831777 0.04880896540701161" rpy="0.0 -0.0 0.0"/>
      <mass value="0.8698633158614087"/>
      <inertia ixx="0.002461394488325991" ixy="-0.00023931294729581803" ixz="-0.0006945357390381508" iyy="0.0025957511151491006" iyz="-6.78673086132377e-06" izz="0.001995072818820429"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="-0.0035409392460762326 0.00015813392774741673 0.22135548099856758" rpy="0.0 -0.0 0.0"/>
      <mass value="0.8600472375053468"/>
      <inertia ixx="0.014651416113579542" ixy="0.00034549166647877025" ixz="0.0019515831715700926" iyy="0.01471866225779386" iyz="-0.0003413232371903521" izz="0.0017294135558199738"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0.005523504457156864 -1.857110695420374e-05 0.13779741575281537" rpy="0.0 -0.0 0.0"/>
      <mass value="0.5997741315905328"/>
      <inertia ixx="0.0031861958857195265" ixy="3.581601866195955e-06" ixz="0.00010296615565638058" iyy="0.003325529156356333" iyz="4.190532194196599e-05" izz="0.0006073297168436955"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link4">
    <inertial>
      <origin xyz="0.07566509182621146 -0.00625934506530646 -4.510323265710894e-05" rpy="0.0 -0.0 0.0"/>
      <mass value="0.5120280784974558"/>
      <inertia ixx="0.0005085808183364536" ixy="7.834821081458324e-05" ixz="-1.4699271179030965e-06" iyy="0.00066172446222245" iyz="1.1056700223386881e-07" izz="0.0006782321854452468"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link5">
    <inertial>
      <origin xyz="0.026781858958798074 0.001199846125217117 0.03458577590328706" rpy="0.0 -0.0 0.0"/>
      <mass value="0.4322695513477669"/>
      <inertia ixx="0.0004298816371609217" ixy="5.656948501025152e-06" ixz="-1.7940181014263946e-05" iyy="0.00043075601615550675" iyz="-2.85696736001016e-06" izz="0.0004171689315323942"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link6">
    <inertial>
      <origin xyz="0.04181322160503506 4.431387377599947e-06 3.801590688741791e-05" rpy="0.0 -0.0 0.0"/>
      <mass value="0.34348005499634865"/>
      <inertia ixx="0.0001791029737172769" ixy="2.6248228869131368e-09" ixz="-5.31908617968957e-07" iyy="0.000157462917889967" iyz="-9.869996762111829e-08" izz="0.00020039654056259142"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/link6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Plum">
        <color rgba="0.86666667 0.62745098 0.86666667 1.        "/>
      </material>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
  </link>
  <link name="link7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://a750_description/meshes/a750_rev1/collision_link7.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <limit effort="100.0" velocity="3.141592653589793" lower="-3.097959422289935" upper="3.097959422289935"/>
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.0 0.06520000000000001" rpy="-3.141592653589793 -1.5707963267948966 0.0"/>
  </joint>
  <joint name="joint2" type="revolute">
    <limit effort="100.0" velocity="3.4033920413889427" lower="-1.5707963267948966" upper="2.0943951023931953"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0978 -0.005 0.07050000000000001" rpy="-1.5707963267948966 -0.0 -1.5707963267948966"/>
  </joint>
  <joint name="joint3" type="revolute">
    <limit effort="100.0" velocity="3.141592653589793" lower="-2.705260340591211" upper="2.705260340591211"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.0505 0.0 0.322" rpy="0.0 -0.0 3.141592653589793"/>
  </joint>
  <joint name="joint4" type="revolute">
    <limit effort="100.0" velocity="3.9269908169872414" lower="-3.0543261909900767" upper="3.0543261909900767"/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0043 0.0 0.20600000000000002" rpy="1.5707963267948966 -1.5707963267948966 0.0"/>
  </joint>
  <joint name="joint5" type="revolute">
    <limit effort="100.0" velocity="3.9269908169872414" lower="-2.0943951023931953" upper="2.0943951023931953"/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.08750000000000001 0.020800000000000003 0.0" rpy="1.5707963267948966 -0.0 1.5707963267948966"/>
  </joint>
  <joint name="joint6" type="revolute">
    <limit effort="100.0" velocity="3.9269908169872414" lower="-3.141592653589793" upper="3.141592653589793"/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.029 0.0 0.064" rpy="-1.5707963267948966 -1.5707963267948966 0.0"/>
  </joint>
  <joint name="gripper" type="revolute">
    <limit effort="100.0" velocity="3.9269908169872414" lower="-3.141592653589793" upper="3.141592653589793"/>
    <parent link="link6"/>
    <child link="link7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.066 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <ros2_control name="A750System" type="system">
    <hardware>
      <plugin>$(arg plugin)</plugin>
      <param name="use_fake_hardware">$(arg use_fake_hardware)</param>
      <param name="device_path">$(arg device_path)</param>
    </hardware>
    <joint name="joint1">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint4">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint5">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint6">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
